################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YARsync/v16
/filesentry/build/vs2015/x64/Debug
/x64/Debug
/YAlibrsync/x64/Debug
/YArsync/x64/Debug
